/*HTML*/
html {
    position: relative;
    min-height: 100%;
}

/*------------*/

/*Body*/
body{
    min-height: 100%;
    padding-top: 70px;
    margin-bottom: 60px;
    background-image:url("/Content/Image/bakgrund.jpeg");
    background-size: 400px;
    background-repeat:no-repeat;
    background-position:left;

}

/*------------*/

/*Header*/
.header {
    background-color:transparent;
    height:50px;
}

#headerItems {
   display:inline-block;
   float:none;
   text-align:center;
   background-color:transparent;
   height:49px;
   color:black;
   border-left:1px groove gray;
}

#headerItems:hover{
    background-color:gray;
}

.hoverHome:hover{
    cursor:pointer;
}

.page-header{
    margin-left:20%;
    margin-right:20%;
}

/*------------*/

/*Main*/
.mainbody{
    margin-top:50px;
}

/*------------*/

/*Footer*/
footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:50px;
    background-color:black;
    display:block;
}

#footerText{
    padding-top:5px;
    color:white;
}

/*------------*/

/*Övrigt*/
.listFocus:hover {
    background-color:ButtonFace;
}

.cursor {
    cursor:pointer;
}

.center{ 
   position:fixed;
   top:50%;
   left:50%;

}

/*------------*/

/*Mikael css*/
pag-sm{
    left: 0;
    right: 0;
}

.pInGenreModal{
    text-align: center;    
}


