/*HTML*/
html {
    position: relative;
    min-height: 100%;
}

/*------------*/

/*Body*/
body{
    min-height: 100%;
    padding-top: 60px;
    margin-bottom: 60px;
    background-image:url("/Content/Image/bakgrund.jpeg");
    background-size: 400px;
    background-repeat:no-repeat;
    background-position:left;

}

/*------------*/

/* --- Header --- 
.header {
   height:50px;
}*/

/* bakgrund och border på navbaren*/
.navbar-default {
  background-color: #fdfdfd;
  border-color: #b0b0b0;
}
/* startsida objektet*/
/*
.navbar-default .navbar-brand {
  color: #000000;
  font-weight:700;
  font-size:20px; 
  height:50px;  
} */
/* huvudobjekten i navbar */
.navbar-default .navbar-nav > li > a {
    color: #000000;
    font-weight:500;
}
/* sista objektet i navbaren
.navbar-default .navbar-nav > li:last-child > a .caret{
    
    color:#000000;
} */
/* Hover på rubrikerna*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
/*.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus */
 {
    background-color:#428bca;
}
/*skapa ny-knappen*/
.navbar-default .navbar-nav > .open > li, 
.navbar-default .navbar-nav > .open > li:hover, 
.navbar-default .navbar-nav > .open > li:focus {
   background-color: #428bca; 
} 
/* radfokus i dropdownknappar
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  
  background-color: #428bca;
} */

/* centrerar menyn på stor skärm */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar   .navbar-collapse {  /*  Denna flyttar även texten i dropdown, behöver fixas */
  text-align: center;
}


/* anpassat utseende vid lite skärm*/
@media (max-width: 767px) {
    /* Dropdown text */
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #000000;
    }
    /* Dropdown bakgrundsfärg vid hover */
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #428bca;
        
        
    }
    /*huvudobjekten*/
    .navbar-default .navbar-nav > li > a {
    
        width:200px;  /*   för att göra objekten större för att lättare klicka på dem, behöver jobbas lite till*/
    }
    /*flyttar hamburgaren till vänster sida*/
    .navbar-toggle {
	    float: left;
        margin-left:20px;
	}
}
/*-----Header slut    -------*/

/*Main*/
.mainbody{
    margin-top:50px;
}

/*------------*/

/*Footer*/
footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:50px;
    background-color:black;
    display:block;
}

#footerText{
    
    color:white;
}

/*------------*/

/*Övrigt*/
.listFocus:hover {
    background-color:ButtonFace;
}

.cursor {
    cursor:pointer;
}

.center{ 
   position:fixed;
   top:50%;
   left:50%;

}

.errorColor{
    color:rgba(255,0,0,0.8);
}

.errorBackground{
    color:rgba(255,0,0,0.5);
}
