body {
    min-height: 2000px;
    padding-top: 70px;
    position:relative;
}

nav {
   padding-left:150px;
    margin-left:380px;
    margin-right:380px;
}

.navbar {    
    border:1px groove gray;
    border-radius:10px;
}

#loginButton {
}

div ul li:hover {
    background-color:ActiveCaption;
}

footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:75px;
    background-color:ActiveCaption;
}

#footerText{
    padding-top:5px;
    color:black;
}

#filterContainer{
    margin-left:18.5%;
}