
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
   padding-top: 70px;
   margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #252525;
  color: #cccccc ;
  border-color: #62686d;
}

.footer div p {
    padding-top: 5px;
}





