<!-- Loading symbol  -->
<div class="center" ng-if="!authors"><span us-spinner></span></div>
<!-- ----------- -->

<div class="container-fluid ">
    <div class="panel panel-primary" ng-if="authors">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <p>
                <h2>
                    Författare
                    <span class="glyphicon glyphicon-plus cursor navbar-right" ng-show="loggedin == 1" ng-click="open(4); editText()" aria-hidden="true" />
                </h2>
            </p>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Författare</th>
                        <th ng-class="{true: 'hideWhenXs', false: ''}[loggedin == 1]">Biografi</th>
                        <th ng-show="loggedin == 1">Ändra</th>
                        <th ng-show="loggedin == 1">Ta bort</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="listFocus cursor" ng-repeat="author in pagArr">
                        <td ng-click="open(0, author, 0)">
                            {{author.Name}}
                        </td>
                        <td ng-click="open(0, author, 0)" ng-class="{true: 'hideWhenXs', false: ''}[loggedin == 1]">
                            {{author.Biography | limitTo: 110}}...
                        </td>
                        <td class="" ng-show="loggedin == 1">
                            <span popover="Ändra: {{author.Name}} " popover-trigger="mouseenter" class="glyphicon glyphicon-edit" ng-click="open(1, author, 1)" aria-hidden="true"></span>
                        </td>
                        <td class="" ng-show="loggedin == 1">
                            <span popover="Ta bort: {{author.Name}} " popover-trigger="mouseenter" class="glyphicon glyphicon-trash" ng-click="open(3, author, 3)" aria-hidden="true">
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Panel footer -->
        <div class="panel-footer">
            <div class="col-md-12 text-center">
                <pagination total-items="totalItems" ng-model="bigCurrentPage" ng-change="pageChanged(this)" max-size="5" class="pagination-sm" boundary-links="true" rotate="true" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPP"></pagination>
            </div>
        </div>
        <!-- footer slut -->

    </div>
</div>