<div class="col-md-12">
    <!-- Loading symbol  -->
    <div class="center" ng-if="!authors"><span us-spinner></span></div>
    <!-- ----------- -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Författare</h2>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Namn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class=" cursor" ng-repeat="author in pagArr">
                        <td class="listFocus" ng-click="open(author)" data-toggle="modal" data-target="#authorModal">{{author.Name}}</td>
                        <td class="listFocus navbar-right" ng-if="loggedin == 1" ng-click="deleteAuthor(author)"><span class="glyphicon glyphicon-trash"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <!--<div ng-controller="pageController">-->
            <pagination total-items="totalItems" ng-model="bigCurrentPage" ng-change="pageChanged(this)" max-size="5" class="pagination-sm" boundary-links="true" rotate="true" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPP"></pagination>
            <!--</div>-->
        </div>
    </div>
</div>

<!-- modal html -->
<!--<div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{textModal.Name}}</h4>
            </div>
            <div class="modal-body">

                <img src="http://kdl.kyvl.org/nyx.php?href=http://nyx.uky.edu/tiles/tile.php?Path=http://nyx.uky.edu/dips/xt74xg9f5h51/data/pa60m162/pa60m162_14/pa60m162_14_613_p/pa60m162_613/.AND.Image=pa60m162_613.AND.Start=2927648.AND.Length=9897.AND.Format=jpg" />
                <h3>Författarskap</h3>
                <div ng->
                    {{textModal.Biography}}
                </div>

            </div>
        </div>
    </div>
</div>-->
