<div class="modal-header">
    <h3 class="modal-title">
        <span ng-if=" view == 0 || view == 1 || view == 2">{{author.Name}} </span>
        <span ng-if=" view == 4">Skapa en ny författare</span>
        <span ng-if=" view == 3">Vill du radera <strong>{{author.Name}}</strong>?</span>

        <button class="btn btn-default pull-right" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default pull-right" ng-if="loggedin == 1 && view == 0" ng-click="editView(1)">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default pull-right" ng-if="loggedin == 1 && view == 1" ng-click="editView(0)">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
    </h3>

</div>
<!-- redigeringsläge -->
<div ng-if="view == 1">
    <div class="modal-body">
        <div class="form-group">
            <label for="authorName">Titel</label>
            <input type="text" class="form-control" ng-model="author.Name" placeholder="Namn..." style="font-style:italic;" id="authorName" />
        </div>
        <div class="form-group">
            <label for="authorBiography">Biografi</label>
            <textarea type="text " class="form-control" ng-model="author.Description" style="font-style:italic;" id="authorBiography"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="editView(2); editText()">Spara</button>
        <button class="btn btn-warning" ng-click="cancel()">Avbryt</button>
    </div>
</div>
<!-- ------------------->
<!--  standard läge-->
<div ng-if="view == 0">
    <div class="modal-body">
        <div class="form-group"
             <p>{{author.Biography}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Stäng</button>
        </div>
    </div>
</div>
<!--  ---------------  -->
<!-- Skapa nytt läge -->
<div ng-if="view == 4">
    <div class="modal-body">
        <div class="form-group">
            <label for="authorName">Titel</label>
            <input type="text" class="form-control" ng-model="author.Name" placeholder="Namn..." style="font-style:italic;" id="authorName" />
        </div>
        <div class="form-group">
            <label for="authorBiography">Biografi</label>
            <textarea type="text " class="form-control" ng-model="author.Biography" style="font-style:italic;" id="authorBiography"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="editView(2); editText()">Skapa</button>
        <button class="btn btn-warning" ng-click="cancel()">Avbryt</button>
    </div>
</div>




<!-- ----- Delete ------->

<div ng-if="view == 3">
    <div class="modal-body">
        <div class="form-group">
            <label for="authorName">Titel</label>
            <span type="text" class="form-control" style="font-style:italic;" id="authorName">{{author.Name}}</span>
        </div>
        <div class="form-group">
            <label for="authorBiography">Biografi</label>
            <span type="text " class="form-control" style="font-style:italic;" id="authorBiography">{{author.Biography}}</span>
        </div>
        <!--<p class="form-control"></p>-->

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="editView(2); editText() ">Ja</button>
        <button class="btn btn-warning" ng-click="cancel()">Nej</button>
    </div>
</div>

<!------------Slut delete --------->
<!----- bekräftelseläge------------>
<div ng-if="view == 2">
    <div class="modal-body">
        {{text}}
        <strong>{{author.Name}}</strong>
        <span> {{text2}}</span>
        <div class="well">
            <div class="form-group">
                <label>Namn:</label>
                <pre>{{author.Name}}</pre>
            </div>

            <div class="form-group">
                <label>Biografi:</label>
                <pre>{{author.Biography}}</pre>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-if="action == 1" class="btn btn-primary" ng-click="save()">Ja</button>
        <button ng-if="action == 3" class="btn btn-primary" ng-click="delete()">Ja</button>
        <button ng-if="action == 4" class="btn btn-primary" ng-click="create()">Ja</button>
        <button class="btn btn-warning" ng-click="editView(5)">Nej</button>
    </div>
</div>
<!-- ------------------------------------------->
