<div class="col-md-12">


    <div class="panel panel-default">

        <div class="panel-heading">
            <h2>Böcker</h2>  <!-- Single button -->
            <div class="btn-group ewq" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-primary dropdown-toggle ddGenre" dropdown-toggle ng-disabled="disabled">
                    Genre  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu cursor" role="menu" ng-controller="genrelistController">
                    <li ng-repeat="genre in genres" class="ddGenreItems" ng-click="selectedGenre(genre)">{{genre.Name}}</li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Titel</th>
                        <th>Författare</th>
                        <th>Genre</th>
                        <th>Pris</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="listFocus cursor" ng-repeat="book in books" ng-click="open(book)" data-toggle="modal" data-target="#bookModal">
                        <td><img ng-src="{{book.ImagePath}}" width="50" /></td>
                        <td>{{book.Title}}</td>
                        <td><span ng-repeat="author in book.Authors">{{author.Name}}&nbsp;</span></td>
                        <td><span ng-repeat="genre in book.Genres">{{genre.Name}}</span></td>
                        <td>{{book.Price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>