<div class="col-md-12">
    <!-- Loading symbol  -->
    <div class="center" ng-if="!books"><span us-spinner></span></div>
    <!-- ----------- -->
    <div class="container-fluid ">
        <div class="panel panel-primary" ng-if="books">
            <div class="panel-heading">
                
                <h2>Böcker</h2>
                <p>
                <span class="glyphicon glyphicon-plus cursor navbar-right" ng-show="loggedin == 1" ng-click="open(4); editText()" aria-hidden="true" />
                </p>
                <!--Filter-->
                <div class="btn-group" style="display:inline-block; ">
                    <ul class="nav navbar-nav">
                        <li><input type="text" ng-model="author" class="form-control" typeahead="author.Name for author in authors | filter:$viewValue | limitTo:8" placeholder="Sök på författare här..." style="font-style:italic;  "></li>
                        <li><input type="text" ng-model="genre" class="form-control" typeahead="genre.Name for genre in genres | filter:$viewValue | limitTo:8" placeholder="Skriv genre här..." style="font-style:italic;  "></li>
                        <li><button type="button" class="btn btn-default" ng-click="filterBooks(author,genre)"><span class="glyphicon glyphicon-search"></span> </button></li>
                    </ul>
                </div>
            </div>
            <!--
                    <div class="btn-group ewq" dropdown is-open="status.isopen">
                        <input type="text" ng-model="dynamicPopover" class="form-control" placeholder="Sök på författare här..." style="font-style:italic;  ">
                        <button type="button" class="btn btn-default" style="">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>

                        <button type="button" class="btn btn-primary dropdown-toggle ddGenre" dropdown-toggle ng-disabled="disabled">
                            Genre <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu cursor" role="menu" ng-controller="genrelistController">
                            <li ng-repeat="genre in genres" class="ddGenreItems" ng-click="selectedGenre(genre)">{{genre.Name}}</li>
                        </ul>

                    </div>
                </div> -->
            <!-- --------------------------------------------- -->
            <!--
                    <div class='container-fluid'>

                        <h4 ng-click="filterBooksByAuthor(selected,selectedgenre)">Mikael testar</h4>
                        <pre>Model: {{selected | json}}</pre>
                        <input id="ok" type="text" ng-model="selected" typeahead="author.Name for author in authors | filter:$viewValue | limitTo:8" class="form-control">
                        <input type="text" ng-model="selectedgenre" class="form-control">
                    </div>
            -->
            <!-- --------------------------------------------------->


            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th ng-click="sortByTitle()">Titel</th>
                            <th ng-click="sortByAuthor()">Författare</th>
                            <th ng-click="sortByGenre()">Genre</th>
                            <th ng-click="sortByPrice()">Pris</th>
                            <th ng-show="loggedin == 1" style="width:10px;">Ändra</th>
                            <th ng-show="loggedin == 1" style="width:10px;">Ta bort</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="listFocus cursor" ng-repeat="book in pagArr | orderBy:customSort" data-toggle="modal" data-target="#bookModal">
                            <td ng-click="open(0, book, 0)"><img ng-src="{{book.ImagePath}}" width="50" /></td>
                            <td ng-click="open(0, book, 0)">{{book.Title}}</td>
                            <td ng-click="open(0, book, 0)"><span ng-repeat="author in book.Authors">{{author.Name}}&nbsp;</span></td>
                            <td ng-click="open(0, book, 0)"><span ng-repeat="genre in book.Genres">{{genre.Name}}</span></td>
                            <td ng-click="open(0, book, 0)">{{book.Price}}</td>
                            <td class="" ng-show="loggedin == 1">
                                <span class="glyphicon glyphicon-edit" ng-click="open(1, book, 1)" aria-hidden="true"></span>
                            </td>
                            <td class="" ng-show="loggedin == 1">
                                <span class="glyphicon glyphicon-trash" ng-click="open(3, book, 3)" aria-hidden="true">
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <!--<div ng-controller="pageController">-->
                <pagination total-items="totalItems" ng-model="bigCurrentPage" ng-change="pageChanged(this)" max-size="5" class="pagination-sm" boundary-links="true" rotate="true" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPP"></pagination>
                <!--</div>-->
            </div>
        </div>
    </div>