<div class="col-md-12">
    <!-- Loading symbol  -->
    <div class="center"  ng-if="!books"><span us-spinner></span></div>
    <!-- ----------- -->
    <div class="panel panel-default" ng-if="books">
        <div class="panel-heading">
            <h2>Böcker</h2>  <!-- Single button -->

            <div class="btn-group ewq" dropdown is-open="status.isopen">
                <input type="text" ng-model="dynamicPopover" class="form-control" placeholder="Sök på författare här..." style="font-style:italic;  ">
                <button type="button" class="btn btn-default" style="">
                    <span class="glyphicon glyphicon-search"></span>
                </button>

                <button type="button" class="btn btn-primary dropdown-toggle ddGenre" dropdown-toggle ng-disabled="disabled">
                    Genre <span class="caret"></span>
                </button>
                <ul class="dropdown-menu cursor" role="menu" ng-controller="genrelistController">
                    <li ng-repeat="genre in genres" class="ddGenreItems" ng-click="selectedGenre(genre)">{{genre.Name}}</li>
                </ul>

            </div>
        </div>

        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th ng-click="sortByTitle()">Titel</th>
                        <th ng-click="sortByAuthor()">Författare</th>
                        <th ng-click="sortByGenre()">Genre</th>
                        <th ng-click="sortByPrice()">Pris</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="listFocus cursor" ng-repeat="book in books.slice(0,4) | orderBy:customSort" ng-click="open(book)" data-toggle="modal" data-target="#bookModal">
                        <td><img ng-src="{{book.ImagePath}}" width="50" /></td>
                        <td>{{book.Title}}</td>
                        <td><span ng-repeat="author in book.Authors">{{author.Name}}&nbsp;</span></td>
                        <td><span ng-repeat="genre in book.Genres">{{genre.Name}}</span></td>
                        <td>{{book.Price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">

            <!-- ny rad för paginering -->
            <pagination total-items="TotalItems" ng-model="CurrentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="true" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPP"></pagination>

        </div>
    </div>
</div>