<div class="modal-body">
    <p>
        <label>Författare:&nbsp;</label><input class="input-group" placeholder="Namn..." style="font-style:italic;" />
    </p>
    <div>
        <label>Sammanfattning:</label>
        <input class="input-group" placeholder="Beskrivning..." style="font-style:italic;" />
    </div>
    <div>
       
    </div>
    <p>
        <label>Utgivningsår:&nbsp;</label><input class="input-group" placeholder="YYYY..." style="font-style:italic;" />
    </p>
    <p>
        <label>ISBN:&nbsp;</label><input class="input-group" placeholder="Tex:894134564-65 ..." style="font-style:italic;" />
    </p>
    <p>
        <label>Pris:&nbsp;</label><input class="input-group" placeholder="SEK..." style="font-style:italic;" />
    </p>
    <p>
        <label>I lager:&nbsp;</label><input class="input-group" placeholder="Antal i lager..." style="font-style:italic;" />
    </p>
    <div>
        
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>