
<!-- Progresbar  -->
<div class="container-fluid " ng-if="!genres">
    <h4>Hämtar listan av genres</h4>
</div>
<!-- ----------- -->


    <div class="container-fluid col-lg-4 col-md-4 col-lg-offset-3 col-md-offset-3">
    <div class="panel panel-primary" ng-if="genres">
        <!-- Default panel contents -->
        <div class="panel-heading">GENRE</div>

        <div class="panel-body">
            <table class="table">

                <tbody>
                    <tr class="listFocus cursor" ng-repeat="genre in genres" ng-click="open('lg',genre)">
                        <td>
                            {{genre.Name}}
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Panel footer -->

        <nav class="genre pag-sm col-md-offset-2 col-lg-offset-2">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- footer slut -->
    </div>

</div>


    <!-- modal html -->




