<!-- Loading symbol  -->
<div class="center" ng-if="!genres"><span us-spinner></span></div>
<!-- ----------- -->


<div class="container-fluid ">
    <div class="panel panel-primary" ng-if="genres">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h2>Genre</h2>
        </div>
        <div class="panel-body">
            <table class="table">

                <thead>
                    <tr>
                        <th>Genre</th>
                        <th>Utdrag</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="listFocus cursor" ng-repeat="genre in pagArr">
                        <td ng-click="open('lg',genre)">
                            {{genre.Name}}
                        </td>
                        <td>
                            {{genre.Description}}...
                        </td>
                        <td>
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td class="listFocus navbar-right" ng-if="loggedin == 1" ng-click="deleteAuthor(author)"><span class="glyphicon glyphicon-trash"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Panel footer -->

        <div class="panel-footer">
            <!--<div ng-controller="pageController">-->
            <pagination total-items="totalItems" ng-model="bigCurrentPage" ng-change="pageChanged(this)" max-size="5" class="pagination-sm" boundary-links="true" rotate="true" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPP"></pagination>
            <!--</div>-->
        </div>

        <!-- footer slut -->
    </div>
</div>



