<div class="modal-header">
    <h3 class="modal-title">
        <span ng-if=" view != 4" >{{genre.Name}} </span>
        <span ng-if=" view == 4">Skapa en ny genre</span>

        <button class="btn btn-default pull-right" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default pull-right" ng-if="loggedin == 1 && view == 0" ng-click="editView(1)">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default pull-right" ng-if="loggedin == 1 && view == 1" ng-click="editView(0)">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
    </h3>

</div>
<!-- redigeringsläge -->
<div ng-if="view == 1">
    <div class="modal-body">
        <p>
            Namn<br />
            <textarea ng-model="genre.Name">  </textarea>
        </p>
        <p>
            Beskrivning<textarea rows="4" cols="70" ng-model="genre.Description">  </textarea>
        </p>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="editView(2)">Spara</button>
        <button class="btn btn-warning" ng-click="cancel()">Avbryt</button>
    </div>
</div>
<!-- ------------------->
<!--  standard läge-->
<div ng-if="view == 0">
    <div class="modal-body" ng-if="view == 0">
        <pre>{{genre.Description}}</pre>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">St&auml;ng</button>
    </div>
</div>
<!--  ---------------  -->

<!-- Skapa nytt läge -->
<div ng-if="view == 4">
    <div class="modal-body">
        <p>
            Namn<br />
            <textarea ng-model="newGenre.Name">  </textarea>
        </p>
        <p>
            Beskrivning<textarea rows="4" cols="70" ng-model="newGenre.Description">  </textarea>
        </p>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="create()">Skapa ny Genre</button>
        <button class="btn btn-warning" ng-click="cancel()">Avbryt</button>
    </div>
</div>




<!-- ----- Delete ------->

<div ng-if="view == 3">
    <div class="modal-body">

        Vill du radera  <strong>{{genre.Name}}</strong>?

        <pre>{{genre.Description}}</pre>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="delete()">Ja</button>
        <button class="btn btn-warning" ng-click="cancel()">Nej</button>
    </div>
</div>

<!------------Slut delete ------ -->

<!----- bekräftelseläge------------>
<div ng-if="view == 2">
    <div class="modal-body">

        Vill du 
        <span ng-if="action == 1">uppdatera </span>
        <span ng-if="action == 4">skapa </span>
        <span ng-if="action == 3">ta bort </span> 
        <strong>{{genre.Name}}</strong> med dessa uppgifter?

        <pre>{{genre.Description}}</pre>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()">Ja</button>
        <button class="btn btn-warning" ng-click="editView(1)">Nej</button>
    </div>
</div>
<!-- ------------------------------------------->
