
<div class="container-fluid " ng-show="genres">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">GENRE</div>

        <div class="panel-body">
            <table class="table">
                <tr>
                <thead>
                    <tr> <th>Genre</th>  <th>Utdrag</th> </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="genre in genres">
                        <td class="btnGenrelist" ng-click="showGenre(genre)" data-toggle="modal" data-target="#genreModal" >
                           
                            {{genre.Name}}</td>
                        <td>{{genre.Description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Panel footer -->
        
        <nav class="genre pag-sm">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- footer slut -->
    </div>

</div>


    <!-- modal html -->
<div class="modal fade" id="genreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{textModal.Name}}</h4>
            </div>
            <div class="modal-body">
                {{textModal.Description}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                <button type="button" class="btn btn-primary">Spara ändringar</button>
            </div>
        </div>
    </div>
</div>




