<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xs-offset-0 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hoverHome" ng-click="GoTo('index.html')">Startsida</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-left" id="test">
            <button class="navbar-btn btn btn-default" ng-click="GoTo('/authors')">Författare</button>
            <button class="navbar-btn btn btn-default" ng-click="GoTo('/books')">Böcker</button>
            <button class="navbar-btn btn btn-default" ng-click="GoTo('/genres')">Genre</button>
        </div><!-- /.navbar-collapse -->
        <form class="navbar-form navbar-right">
            <!-- Log in function in dropdown menu-->
            <div class="btn-group" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    Logga in <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" ng-click="loginStatus(1)">Admin</a></li>
                    <li><a href="#" ng-click="loginStatus(2)">Slav</a></li>
                </ul>
            </div>
        </form>
    </div><!-- /.container-fluid -->
</nav>