<section class="row">
  <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
    <div class="alert alert-warning" ng-if="restMessage">
        
      <strong>{{restMessage}}</strong>
    </div>
    <form>
      <div class="form-group">
        <h2>Rest API:</h2>
      </div>
      <div class="form-group">
        <label for="method">Metod:</label>
        <select class="form-control" ng-model="callMethod" id="method">
          <option ng-repeat="method in restMethods" value="{{method}}">{{method}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="url">URL (t.ex. book, book/1, author, author/1):</label>
        <input id="url" class="form-control" ng-model="callUrl" type="text">
      </div>
      <div class="form-group">
        <label for="data">Data att skicka (JSON):</label>
        <textarea class="form-control" id="data" rows="5" ng-model="callData"></textarea>
      </div>
      <input class="submit" type="submit" ng-click="restCall()" value="Skickaditluder">
    </form>
  </div>
  <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
    <h2>Output:</h2>
      <div class="panel panel-default" ng-repeat="book in books">
          <ul class="list-group">
              <li class="list-group-item"><label>Title:&nbsp;</label>{{book.Title}}</li>
              <li class="list-group-item" ng-if="book.Authors.length > 1"><label>Authors:&nbsp;</label><span ng-repeat="author in book.Authors"><a href="">{{author.Name}}</a> </span></li>
              <li class="list-group-item" ng-if="book.Authors.length == 1"><label>Author:&nbsp;</label><a href="">{{book.Authors[0].Name}}</a></li>
          </ul>
      </div>
  </div>
</section>