<!--<div ng-controller="homeController">
    <div style="height: 305px; width:400px; margin-left:50vh;">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
            </slide>
        </carousel>
    </div>
</div>-->

<div class="row col-md-offset-3">
    <div class="thumbnail col-sm-6 col-md-2" ng-click="open(0, book, 0)" ng-repeat="book in topThreeBooks">
        <div class="oneThumbnail">
            <img class="thumbnailImg" src={{book.ImagePath}}>
            <div class="caption">
                <h5><strong>{{book.Title}}</strong></h5>
                <p ng-repeat="author in book.Authors">{{author.Name}}</p>
            </div>
        </div>
    </div>
</div>

