<!-- Shows user the top 3 hightest rated books in the database -->
<div class="container-fluid">
    <div class="row">
        <h2 style="text-align: center">Våra mest populära böcker just nu</h2>
        <div class="col-xs-offset-4 col-sm-offset-0 col-md-offset-3">
            <div class="thumbnail cursor col-xs-6 col-sm-3 col-md-3" ng-click="open(0, book, 0)" ng-repeat="book in topThreeBooks">
                <div class="oneThumbnail">
                    <img class="thumbnailImg" src={{book.ImagePath}}>
                    <div class="caption">
                        <h5><strong>{{book.Title}}</strong></h5>
                        <p ng-repeat="author in book.Authors">{{author.Name}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <h4 style="text-align: center">Boken AB</h4>
    <p style="text-align: center; color: GrayText">Det lilla förlaget med de piratkopierade omslagen.</p>
</div>

